.list-todo-container {
  button {
    border: none;
    cursor: pointer;
  }
  .add-todo {
    .input-add {
      padding: 6px 8px;
      border-radius: 4px;
      border: none;
    }

    .add {
      margin-left: 10px;
      border-radius: 4px;
      padding: 6px 8px;
      transition: all 0.3s ease;
    }
    .add:hover {
      background-color: #659999;
    }

    padding: 10px;
    margin: 10px;
  }

  .list-todo-content {
    width: 400px;
    margin: 0 auto;
  }

  .todo-child {
    &:first-child {
      border-top: 1px solid grey;
    }
    height: 40px;
    border-bottom: 1px solid grey;
    margin: 10px;
  }
  .edit {
    margin: 0 5px;
    border-radius: 4px;
  }
  .edit:hover {
    background-color: #659999;
  }
  .delete {
    border-radius: 4px;
  }
  .delete:hover {
    background-color: #659999;
  }
}

// return (
//   <div className="todo-child" key={item.id}>
//     {/* Kiểm tra nếu isEmptyObj là true */}
//     {isEmptyObj === true ? (
//       // Hiển thị title của item
//       <span className="text-todo">
//         {index + 1} - {item.title}
//       </span>
//     ) : (
//       // Nếu không phải isEmptyObj, kiểm tra xem có đang trong trạng thái editTodo hay không
//       <>
//         {editTodo.id === item.id ? (
//           // Nếu đúng, hiển thị input để chỉnh sửa
//           <span>
//             {index + 1} - <input value={editTodo.title} />
//           </span>
//         ) : (
//           // Nếu không phải, hiển thị title của item
//           <span>
//             {index + 1} - {item.title}
//           </span>
//         )}
//       </>
